{% extends 'adminpages/adminbase.html' %}
{% block title %}All Item{% endblock %}


{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            <h3 class="mb-0 text-center our-product">
                All <span>Item List</span></h3>
            <form class="form-inline  mb-2 " action="{% url 'ecomapp:adminitemlist' %}" method="GET">
                <input name="keyword" class=" form-control mr-sm-2" type="search" placeholder="Search"
                aria-label="Search" required>
                <button class="btn my-2 my-sm-0" type="submit" style="background-color: #cce6ff">Tìm kiếm</button>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Product Title</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Inventory</th>
                        <th>Description</th>
                        <th>Upload?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in allproducts %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td ><a href="{% url 'ecomapp:adminitemdetail' p.slug %}">{{p.productid.name}}</a></td>
                        <td><img src="{{p.image.url}}" style="height: 60px;" alt=""></td>
                        <td>{{p.price}}</td>
                        <td>{{p.productid.num}}</td>
                        <td>{{p.description}}</td>
                        <td>{{p.isUpload}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}