{% extends 'adminpages/adminbase.html' %}

{% block title %}All Orders {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-3 mb-3 text-center our-product">
                All <span>Reviews</span></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Review ID </th>
                        <th>Customer</th>
                        <th>Create at</th>
                        <th>Sentiment</th>
                        <th>Reply?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in allreviews %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'ecomapp:adminreviewdetail' review.id %}">#REVIEW_{{review.id}}</a></td>
                        <td>{{review.customerid.userid.fullnameid.fullname}}</td>
                        <td>{{review.reviewtime}}</td>
                        <td>{{review.sentiment}}</td>
                        <td>{{review.isReply}}</td>
            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}