{% extends "adminpages/adminbase.html" %}

{% block title %}{{product.productid.name}}{% endblock %}

{% block content %}
<div class="container">
    <h3>Sản phẩm: {{product.name}}</h3>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <form action="{% url 'ecomapp:adminproductdetail' product.id %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <hr>
                <button class="btn btn-info"  type="submit" name = "upload" value = "true">Cập Nhật</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}