{% extends 'adminpages/adminbase.html' %}
{% load humanize %}

{% block title %}Review Detail{% endblock  %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3 class="mt-3 mb-3 text-center our-product">
                Review <span>Detail</span></h3>
            <p><span class="font-weight-bold">Review ID: </span> #REVIEW_{{rv_obj.id}}</p>
            <p><span class="font-weight-bold">Review Status: </span> {{rv_obj.isReply}}</p>
            <p><span class="font-weight-bold">Create On: </span> {{rv_obj.reviewtime}}</p>
            <p><span class="font-weight-bold">Customer Information: </span> By {{rv_obj.customerid.userid.fullnameid.fullname}}, {{rv_obj.customerid.userid.contactinfoid.phonenumber}}</p>
            <p><span class="font-weight-bold">Content: </span> {{rv_obj.content}} </p>
            <p><span class="font-weight-bold">Sentiment : </span> {{rv_obj.sentiment}} </p>
            <form action="{% url 'ecomapp:adminreplyreview'  %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-info">Reply</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
