{% extends 'base.html' %}

{% block title %} Tất cả sản phẩm {% endblock %}

{% block content %}
<div class="container">
    <h3 style="margin: 30px 0; text-align: center">TẤT CẢ SẢN PHẨM</h3>
    {% for cat in allcategories %}
    <h4 class="row mt-5">{{cat.name}}</h4>
    <hr>
    <div class="row">
        {% for p in cat.productcategory_set.all %}
            {% if p.productid.item_set.all.last.isUpload %}
            <div class="col-3 text-center">
                <img src="{{p.productid.item_set.all.last.image.url}}" alt="" class="img-fluid" style="height: 250px; object-fit: contain; width: 100%">
                <h4><a class="title-item" href="{% url 'ecomapp:productdetail' p.productid.item_set.all.last.slug %}">{{p.productid.name}}</a></h4>
                <p class="mt-3 price-item">${{p.productid.item_set.all.last.price}}</p>
                <a href="{% url 'ecomapp:addtocart' p.productid.item_set.all.last.id %}" class="btn btn-primary btn-addcart">Thêm vào giỏ</a>

             
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}