{% extends 'base.html' %}

{% block title %}Checkout {% endblock %}

{% block content %}
<div class="container">
    <div class="row ">
        <div class="col-md-8">
            <h3 style="margin: 20px 0;">Danh sách sản phẩm trong giỏ hàng</h3>
            <a href="{% url 'ecomapp:mycart' %}">Cập nhật sản phẩm</a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Rate</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartline_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.itemid.productid.name}}</td>
                        <td>{{cp.itemid.price}}</td>
                        <td>{{cp.num}}</td>
                        <td>{{cp.sumPrice}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Tổng</th>
                        <th>{{cart.total}} Đ</th>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
    <div class="row pb-5">
        <div class="col-md-6">
            <h3 style="margin: 20px 0;">Thanh toán</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info">Xác nhận</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}