{% extends 'base.html' %}

{% block title %}Thông tin tài khoản{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <h3>Thông tin chi tiết</h3>
            <hr>
            <p><span class="font-weight-bold">Tên: </span> {{customer.userid.fullnameid.fullname}}</p>
            <p><span class="font-weight-bold">Tên đăng nhập: </span> {{customer.userid.accountid.user.username}}</p>
            <p><span class="font-weight-bold">Email: </span> {{customer.userid.contactinfoid.email}}</p>
            <p><span class="font-weight-bold">Địa chỉ: </span> {{customer.userid.addressid.address}}</p>
            <br> 
            <a href = "{% url 'ecomapp:shippingaddresslist' customer.id %}">Chỉnh Sửa Sổ Địa Chỉ</a> 
            <br>
            <br>
            <a href = "{% url 'ecomapp:wishlist' %}">Yêu Thích</a>
            <br> 
            <br> 
            <a href = "{% url 'ecomapp:reviewlist' %}">Đánh Giá Của Tôi</a> 
            <br>
            <br>
            <a href = "{% url 'ecomapp:editprofile' customer.userid.id %}">Chỉnh Sửa Thông Tin Cá Nhân</a> 
        </div>
        <div class="col-md-8">
            <h3>Những đơn hàng trước</h3>

            <form class="form-inline my-2 my-lg-0" action="" method="GET">
                <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search"
                    aria-label="Search" required>
                <button class="btn btn-warning my-2 my-sm-0" type="submit" style="margin-left:10px ;">Tìm kiếm</button>
            </form>
            <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>ID</th>
                        <th>Số tiền</th>
                        <th>Ngày đặt hàng</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ord in orders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'ecomapp:customerorderdetail' ord.pk %}"> #ORDER_{{ord.id}}</a></td>
                        <td>{{ord.total}}</td>
                        <td>{{ord.time}}</td>
                        <td>{{ord.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}