{% extends 'base.html' %}

{% block title %}Chỉnh Sửa Thông Tin Cá Nhân{% endblock %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Chỉnh Sửa</h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Cập Nhật</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}