{% extends 'base.html' %}

{% block title %} Giỏ hàng{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div  class="col-md-10">
            <h4 style="margin: 30px 0; text-align: center">SẢN PHẨM TRONG GIỎ HÀNG</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cartline %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.itemid.productid.name}}</td>
                        <td>{{cp.itemid.price}}</td>
                        <td>{{cp.num}}</td>
                        <td>{{cp.sumPrice}}</td>
                        <td>
                            <a href="{% url 'ecomapp:managecart' cp.id %}?action=inc" class="btn btn-primary"> + </a>
                            <a href="{% url 'ecomapp:managecart' cp.id %}?action=dcr" class="btn btn-warning"> - </a>
                            <a href="{% url 'ecomapp:managecart' cp.id %}?action=rmv" class="btn btn-danger"> x </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Tổng tiền</th>
                        <th>{{cart.total}}$</th>
                        {% if cart.cartline_set.all %}
                        <th><a href="{% url 'ecomapp:emptycart' %}">Xoá hết sản phẩm trong giỏ</a></th>
                        {% endif %}
                    </tr>
                    {% if cart.cartline_set.all %}
                    <tr>
                        <th colspan="6" class="text-right"><a class="btn btn-info" href="{% url 'ecomapp:checkout' %}"> Thanh toán </a></th>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}