{% extends 'base.html' %}

{% block title %}Review{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-left mt-5">Đội Ngũ Chăm Sóc Khách Hàng.</h2>
    <h5 class="text-left">Chúng tôi luôn sẵn sàng lắng nghe ý kiến đóng góp từ bạn. Chúng tôi sẽ phản hồi trong thời gian sớm nhất.</h1>
    <hr style="height:30px">
    <div>
        <form class="row g-3" action="{% url 'ecomapp:review' %}" method="POST">
            {% csrf_token %}
            <label class="col-12"> {{ form.content.label }}:</label>
            <div class="col-12">
              {{ form.content }}
            </div>
            <div class="col-12">
              {% if request.user.account %}
                <button type="submit" class="btn btn-primary btn-addcart" style="float:right; margin: 10px 100px 0 0; padding: 12px 24px">Send</button>
              {% else %}
                <button type="submit" class="btn btn-primary "  disabled>Send</button>
              {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}